body {
    main {
        .our-clients {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 100px;
            width: 100%;
            margin-top: 100px;
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                gap: 100px;
                width: 90%;
                height: 594px;
                .title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}


@media screen and (max-width: 390px) {
    body {
        main {
            .our-clients {
                height: 300px;
                margin-top: 0px;
                .container {
                    width: 98%;
                    height: 100%;
                    gap: 30px;
                    .content {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 110%;
                        }
                    }
                }
            }
        }
    }
}